@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/FiraSans-Regular.woff) format("woff");
}

@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/FiraSans-Medium.woff) format("woff");
}

@font-face {
    font-family: "Fira Sans";
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/FiraSans-Italic.woff) format("woff");
}

* {
    font-family: "Fira Sans", "Helvetica Neue", Arial, sans-serif;
}
